<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orange.barrage.android" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BarrageAndroid"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5493c606fd98c571830006cb" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Default" />

        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".feed.activity.FeedCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feed.activity.FeedCreateSelectFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.login.LoginHomeWithInviteCodeActivity"
            android:label="@string/title_activity_login_home_with_invite_code" >
        </activity>
        <activity
            android:name=".user.ui.login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".user.ui.login.EmailLoginActivity"
            android:label="@string/title_activity_email_login" />
        <activity
            android:name=".user.ui.login.MobileLoginActivity"
            android:label="@string/title_activity_mobile_login" />
        <activity
            android:name=".user.ui.invitecode.EnterInviteCodeActivity"
            android:label="@string/title_activity_enter_invite_code" />
        <activity
            android:name=".user.ui.invitecode.InviteCodePassActivity"
            android:label="@string/title_activity_invite_code_pass" />
        <activity android:name=".user.ui.register.MainRegisterActivity" >
        </activity>
        <activity android:name=".feed.activity.FeedNewMessageBarrageActivity" />
        <activity android:name=".user.ui.register.MainRegisterActivity" />
        <activity
            android:name=".user.ui.register.EmailRegisterActivity"
            android:label="@string/title_activity_email_register" />
        <activity
            android:name=".user.ui.login.LoginEditeTextActivtiy"
            android:label="LoginEditeTextActivtiy" />
        <activity android:name=".feed.activity.FeedPublishedWhatchImageActivity" />
        <activity android:name=".user.ui.view.Text" />
        <activity
            android:name=".friend.activity.RequestAddFriendActivity"
            android:label="@string/title_activity_request_add_friend" />
        <activity
            android:name=".friend.activity.SearchUserActivity"
            android:label="@string/title_activity_search_user"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity android:name=".feed.activity.FeedCommentActivity">
        </activity>
        <activity
            android:name=".user.ui.login.HomePageActivity"
            android:icon="@drawable/bbj_icon" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".friend.activity.FriendListSelectActivity" />
        <activity android:name=".feed.activity.FeedFirstLognShowBarrageActivity" />
        <activity android:name=".feed.activity.FeedNewMessageListActivity" />
        <activity android:name=".feed.activity.FeedPublishedImageActivity" />
        <!-- Share SDK Activities -->


        <!-- Share SDK Activities -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".feed.activity.FeedPublishedOtherPlatformActivity" />
        <activity
            android:name=".friend.activity.FriendDetailActivity"
            android:label="@string/title_activity_friend_detail"
            android:launchMode="singleTask" />

        <!-- Share SDK 微信分享回调 -->
        <activity
            android:name="com.orange.sharesdk.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 图片裁剪Activity，来自 https://github.com/jdamcd/android-crop -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".user.ui.user_home.UserHomeActivity"
            android:label="@string/title_activity_user_home" >
        </activity>
        <activity
            android:name=".user.ui.user_home.UserHomeModifyActivity"
            android:label="@string/title_activity_user_home_modify" >
        </activity>
        <activity
            android:name=".user.ui.user_home.user_settings.UserNickEditTextActivity"
            android:label=""
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".user.ui.user_home.user_settings.UserSignatureEditTextActivity"
            android:label="@string/title_activity_user_signature_edit_text"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".user.ui.user_home.user_settings.UserHomeModifyPasswordActivity"
            android:label="@string/title_activity_user_home_modify_password"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".user.ui.user_home.user_settings.UserEmailEditTextActivity"
            android:label="@string/title_activity_user_email_edit_text" >
        </activity>
        <activity android:name=".friend.activity.FriendTabDetailInfoAndCreateAndAlterActivity" />
        <activity
            android:name=".user.ui.user_home.user_settings.UserPhoneNumberEditTextActivity"
            android:label="@string/title_activity_user_phone_number_edit_text" >
        </activity>
        <activity
            android:name=".user.ui.user_home.UserHomeSettingActivity"
            android:label="@string/title_activity_user_home_setting" >
        </activity>
        <activity
            android:name=".user.ui.user_home.UserHomeSettingAboutActivity"
            android:label="@string/title_activity_user_home_setting_about" >
        </activity>
        <activity
            android:name=".user.ui.user_home.UserHomeSettingStyleActivity"
            android:label="@string/title_activity_user_home_setting_style" >
        </activity>
        <activity
            android:name=".user.ui.user_home.UserHomeSettingSpeedActivity"
            android:label="@string/title_activity_user_home_setting_speed" >
        </activity>
        <activity
            android:name=".friend.activity.OptionFeedBackActivity"
            android:label="@string/title_activity_option_feed_back"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".user.ui.user_home.InviteMyFriendActivity"
            android:label="@string/title_activity_invite_my_friend" >
        </activity>
        <activity
            android:name=".friend.activity.FriendDetailBigImageViewActivity"
            android:label="@string/title_activity_friend_detail_big_image_view" >
        </activity>
        <activity
            android:name=".user.ui.user_home.SmsMessageInviteMyFriendActivity"
            android:label="@string/title_activity_sms_message_invite_my_friend" >
        </activity>
        <activity
            android:name=".user.ui.user_home.FeedPublishedWhatchUserHomeImageActivity"
            android:label="@string/title_activity_feed_published_whatch_user_home_image" >
        </activity>
    </application>

</manifest>
